* {
	margin: 0;
	padding: 0;
}
html {font-family: 'Montserrat', sans-serif;}
body {font-weight: 700;}
a {
	text-decoration: none;
	color: #fff;
}
li {list-style: none;}
.content {
	max-width: 1470px;
	padding: 0 15px;
	margin: 0 auto;
}
.header {
	background: url("../images/Photo.png") center center;
	background-size: cover;
	padding-top: 125px;
	color: #fff;
	text-align: center;
	padding-bottom: 100px;
}
.header-logo {
	margin-right: 770px;
	display: inline-block;
	vertical-align: middle;
}
.header-text {padding: 290px 0 330px;}
.main-menu {
	font-size: 24px;
	display: inline-block;
}
.main-menu a {padding-left: 62px;}
.main-menu a:hover {color: #18f7ef;}
.mouse {font-weight: 400;}
.footer {
	background: url("../images/wood.png") center center;
	background-size: cover;
	color: #fff;
	padding: 185px 0 225px;
}

.row {
	width: 100%;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (33%)[2];
	grid-template-columns: repeat(2, 33%);
	-ms-grid-rows: (auto)[2];
	grid-template-rows: repeat(2, auto);
	grid-template-areas: "header image-1 image-2" "header image-3 image-3" "image-4 footer footer";
}
.row .button {
	width: 316px;
	height: 77px;
	border: 5px solid #fff;
	background-color: transparent;
	text-transform: uppercase;
	display: block;
	font: 24px/77px 'Montserrat', sans-serif;
	text-decoration: none;
	text-align: center;
	margin: 0 auto 20%;
}
.row .block1, .row .block_2, .row .block_3, .row .block_4, .row .block_5, .row .block_6 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.row .block_1 {
	background-color: #18f7ef;
	grid-area: header;
}
.row .block_1 .text {
	margin: 20%;
}
.row .block_1 h1 {
	color: white;
	font: 700 124px/120px 'Montserrat', sans-serif;
}
.row .block_1 h1 span {
	color: #3624ea;
}
.row .block_1 p {
	color: #3624ea;
	font: 24px/48px 'Montserrat', sans-serif;
}
.row .block_1 .button {
	color: #3624ea;
}
.row .block_2 {
	background-image: url("../images/Photo-0.png");
	grid-area: image-1;
}
.row .block_3 {
	background-image: url("../images/Photo-2.png");
	grid-area: image-2;
}
.row .block_4 {
	background-image: url("../images/Photo-1.png");
	grid-area: image-3;
}
.row .block_5 {
	grid-area: image-4;
	position: relative;
}
.row .block_5 img {
	position: absolute;
	width: 600px;
	height: auto;
	bottom: 0;
	right: -106px;
}
.row .block_6 {
	background-color: #3624ec;
	grid-area: footer;
	color: white;
}
.row .block_6 .text {
	margin: 10% 0% 7% 30%;
}
.row .block_6 h1 {
	font: 700 51px/102px 'Montserrat', sans-serif;
}
.row .block_6 p {
	font: 24px/48px 'Montserrat', sans-serif;
}
.row .block_6 .button {
	color: white;
	margin-bottom: 10%;
	margin-left: 30%;
}


.f-text01 {
	line-height: 103px;
	font-size: 60px;
	margin-right: 30px;
	width: 49%;
	display: inline-block;
}
.f-text02 {
	line-height: 48px;
	font-size: 18px;
	width: 48.6%;
	display: inline-block;
}
.footer .rights {
	font-size: 18px;
	line-height: 48px;
	margin-bottom: 185px;
}
.footer .f-bot {text-align: center;}
.footer .f-bot .header-logo {margin: 545px 0 75px;}